[{"id":"script_1779953695941","mode":"select","name":"xtruyen","domain":"xtruyen.vn","nextButtonSelector":"div#manga-reading-nav-head > div > div:nth-of-type(3) > div > div:nth-of-type(2) > a","nextButtonText":"","blacklistedSelectors":["#chapter-heading"],"whitelistedSelectors":["div.main-col.col-md-12.col-sm-12.sidebar-hidden > h2","div.entry-content"],"removeSelectors":["div.aam-ad-container.aam-position-header_chapter"],"createdAt":"2026-05-28T14:34:55.941861"},
{"id":"script_1779968046474","mode":"select","name":"wikicv","domain":"wikicv.net","nextButtonSelector":"div#bookContent > div:nth-of-type(3) > span > a:nth-of-type(2)","nextButtonText":"","blacklistedSelectors":["p.top-title","p.center","p.book-title","div.container > div","div.comment-content-msg.word-wrap > p"],"whitelistedSelectors":[],"removeSelectors":[],"createdAt":"2026-05-28T18:34:06.474617"},
{"id":"script_1779968046474","mode":"function","name":"xtruyenjs","domain":"xtruyen.vn","getcontent": "var chaptertitle = document.getElementsByTagName('h2')[0].innerText;var element = document.getElementById('chapter-reading-content');element.querySelectorAll('div').forEach(el => el.remove());var chaptercontent = chaptertitle + '\\n' + element.innerHTML;chaptercontent = chaptercontent.replace(/·/ig, '').replace(/\\<em\\>/ig, '').replace(/\\<\\/em\\>/ig, '').replace(/\\<p\\>/ig, '\\n').replace(/\\<\\/p\\>/ig, '\\n').replace(/&nbsp;/ig, ' ').replace(/[ ]+/ig, ' ').replace(/<br>/ig, '\\n').replace(/<div>/ig, '\\n').replace(/<\\/div>/ig, '\\n').replace(/\\s*\\n\\s*/ig, '\\n\\n').trim();", "gonext":"document.getElementsByClassName('btn next_page')[0].click();","nextButtonSelector":"","nextButtonText":"","blacklistedSelectors":[],"whitelistedSelectors":[],"removeSelectors":[],"createdAt":"2026-05-28T18:34:06.474617"}

]